body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100%;
    background: #333;
    transition: width 0.3s ease;
}

.sidebar ul {
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 250px; /* Adjust this value to match the width of the sidebar */
}